
header {
    max-width: 1440px;
}

#header {
   max-width: 1440px;
   margin-left: 600px;
   margin-right: 600px;
  }

#lucky {

    justify-content: center;
    border-radius: 5px;
    
}

#search-box {

    justify-content: center;
    border-radius: 5px;
    margin: auto;
}

#submit {
    justify-content: center;
    border-radius: 5px;
  
}