#gmail {
    margin-left: 65%;
}

#google-logo {
    width: 25%;
    margin-top: 25%;
    margin-left: 38%;
    padding-bottom: 10px;
  }

#lucky {

    justify-content: center;
    border-radius: 5px;
    
}

#search-box {
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

#submit {
   width: 20%;
   display: block;
   margin: auto; 
   padding-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

li {
    float: left;
    color: black;
}

li a {
    display: inline;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

#images {
    padding-left: 2px;
    text-decoration: none;
}